{% extends 'styles.html' %}
 {% block content %}
{% if messages %}
{% for msg in messages %}
    <div class="alert alert-success alert-dismissable" aria-hidden="true" align="center">
<button type="button" class="close" data-dismiss="alert">X</button>    
    {{ msg}} </div>
    {% endfor %}
    {% endif %}
    <center>
<div class="container">
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4 alert alert-info">
<h1 align="center">عرض نتائج:{{termnow}}</h1>
<hr>
<form class="alert alert-info" method="POST" action="shoprod_helf" >{% csrf_token %}

 <table summary="" class="table table-striped table-bordered">
<tr><td>

<fieldset>
<input list="mylist" id="ns" class="form-control">
<datalist id="mylist" >
{% if u %}
{% for d in i %}
<option value="{{d.namst}}">{{d.namst}}</option>
{% endfor %}
{% endif %}
<option>none</option>
</datalist>:اسم الطالب</td><td><select class="form-control" name="nr" onchange="submit()" >
{% if u %}
<option value="{{rn}}">{{rn}}</option>
{% else %}
<option>none</option>
{% endif %}
{% for n in g %}
<option value="{{n.roww}}">{{n.roww}}</option>
{% endfor %}
</select>:اسم الصف</fieldset></td></tr>
 </table>
 </form>
</div><div class="col-md-4"></div></div>
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
 <form class="alert alert-info" method="POST" action="shoprod_helf2" >{% csrf_token %}
 <input type="text" name="gn" id="gn"  />
 <input type="submit" class="btn btn-primary" value="عرض علامات الطالب" />
 </form>
 </div><div class="col-md-4"></div></div>
 






















{% endblock content %}
